
<% if (pageID == 'home') {%>
  <div class="row">
<% } %>
  <% pageLocation.forEach(function(item){  %>
    <% if (pageID !== 'home') {%>
      <div class="row">
    <% } %>
    <article class="col <% if (pageID == 'home') { %> m6 s12  <% } else { %> m9 s12  <% } %>">


      <figure>
        <h2 class="name"><a href="/locations/<%= item.id %>"><%= item.name %></a></h2>
        <img src="/img/<%= item.images[0] %>" alt="Main Image of <%= item.name %>" width="100%">

        <% if(pageID == 'location-detail'){ %>
          <%- item.description %>
        <% } else { %>
          <figcaption><%- item.summary %></figcaption>
        <% } %>
      </figure>

    </article>
    <% if (pageID !== 'home') {%>
      </div>
    <% } %>
  <% }); %>
<% if (pageID == 'home') {%>
  </div>
<% } %>
