
<% if (pageID == 'home') {%>
  <div class="row">
<% } %>
  <% pageLocation.forEach(function(item){  %>
    <% if (pageID !== 'home') {%>
      <div class="row">
    <% } %>
    <article class="<% if (pageID == 'home') { %> four columns  <% } else { %> nine columns  <% } %>">
      <h2><%= item.name %></h2>
      <p><a href="/locations/<%= item.id %>">Bloop</a></p>
      <img src="/img/<%= item.images[0] %>" alt="Main Image of <%= item.name %>" width="100%">

        <% if(pageID == 'location-detail'){ %>
          <%- item.description %>
        <% } else { %>
          <%- item.summary %>
        <% } %>

    </article>
    <% if (pageID !== 'home') {%>
      </div>
    <% } %>
  <% }); %>
<% if (pageID == 'home') {%>
  </div>
<% } %>
